.email_row_title
	{
	background-color: #4080C0;
	color: #FFFFFF;
	height: 24px;
	}

.email_title_check
	{
	float: left;
	line-height: 24px;
	padding: 0px 5px 0px 5px;
	}

.email_title_text
	{
	font-weight: bold;
	line-height: 24px;
	padding: 0px 0px 0px 5px;
	}

.email_row_data
	{
	height: 48px;
	line-height: 48px;
	min-height: 48px;
	}

.email_data_check
	{
	border: solid 1px;
	height: 46px;
	line-height: 48px;
	padding: 0px 5px 0px 5px;
	vertical-align: bottom;
	}

.email_data_date
	{
	font-size: x-small;
	height: 24px;
	line-height: 24px;
	}

.email_data_info
	{
	float: right;
	}

.email_data_labels
	{
	float: right;
	height: 24px;
	line-height: 24px;
	}

.email_data_main
	{
	float: left;
	}

.email_data_sender
	{
	font-size: x-small;
	height: 24px;
	line-height: 24px;
	}

.email_data_subject
	{
	height: 24px;
	line-height: 24px;
	}

.email_data_verb
	{
	height: 24px;
	line-height: 24px;
	}

